:root {
  --dark-color: #000000;
  --white-color: #FFFFFF;
  --dark-blue-color: #1E293B;
  --primary-color: #3B82F6;
  --grey-color: #64748B;
  --red-color: #EF4444;
  --light-grey-color: #E2E8F0;
  --border-input-color: #CBD5E1;
  --light-white-color: #F8FAFC;
}
