@font-face {
  font-display: swap;
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Roboto.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: 'Roboto-Normal';
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/Roboto-Medium.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: 'Roboto-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/Roboto-SemiBold.woff2") format("woff2");
}


@font-face {
  font-display: swap;
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/Roboto-bold.woff2") format("woff2");
}
