@font-face {
  font-display: swap;
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("/public/assets/fonts/ofont.ru_Roboto.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  src: url("/public/assets/fonts/ofont.ru_Roboto-bold.woff2") format("woff2");
}
