.all-categories {
  height: 80vh;
  display: grid;
  grid-template-columns: 282px 1fr;
  gap: 48px;
  margin-top: 32px;

  & ul {
    height: 520px;
    width: 306px;
    display: flex;
    gap: 8px;
    align-items: center;
    flex-direction: column;
  }
  & li {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 282px;
    transition: background-color 0.2s;
    border-radius: 8px;
    &:hover {
      cursor: pointer;
      background-color: #F5F5F5;
    }
  }
  & a {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &_child-categories {
    &_list {
      margin-top: 24px;
    }
  }
}
.no-categories {
  margin-top: 24px;
}
.loading {
  margin-top: 24px;
}
