:host ::ng-deep .p-button {
  width: 100%;
  display: flex;
  padding: 20px 59px;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 20px;
  line-height: 28px;
  gap: 12px;
  letter-spacing: 0;
}
