.current-product {
  width: 100%;
  display: flex;
  gap: 24px;

  &_edit-buttons {
    display: flex;
    justify-content: space-between;

  }
  &_price {
    text-wrap: wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  &_img {
    width: 856px;
  }
  &_info {
    max-width: 416px;
  }
  &_info_address {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  &_open-map {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--primary-color);
    cursor: pointer;
    &:hover {
      color: var(--red-color);
    }
  }
}
.breadcrumbs {
  &_menu {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--grey-color);
  }
  li {
    cursor: pointer;
    &:hover {
      color: var(--red-color);
    }
  }
}

