:host ::ng-deep ng-trigger ng-trigger-animation ng-tns-c2196985156-32 p-confirmdialog undefined p-dialog p-component ng-star-inserted {
  font-family: Roboto-Regular, sans-serif !important;
}

.current-product {
  width: 100%;
  display: flex;
  gap: 24px;

  &_edit-buttons {
    display: flex;
    justify-content: space-between;

  }

  &_price {
    text-wrap: wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  &_img {
    width: 856px;
  }
  &_no-img {
    width: 856px;
    height: 600px;
  }

  &_info {
    max-width: 416px;
  }

  &_info_address {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &_open-map {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--primary-color);
    cursor: pointer;

    &:hover {
      color: var(--red-color);
    }
  }

  span {
    color: var(--primary-color);

    &:hover {
      color: var(--red-color);
    }
  }
}

.breadcrumbs {
  &_menu {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--grey-color);
  }

  li {
    cursor: pointer;

    &:hover {
      color: var(--red-color);
    }
  }
}

