<nav class="breadcrumbs mb8">
  <ul class="breadcrumbs_menu">
    <li><h6>Севастополь</h6></li>
    <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="2" cy="2" r="2" fill="currentColor"/>
    </svg>

    <li><h6>Электроника</h6></li>
    <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="2" cy="2" r="2" fill="currentColor"/>
    </svg>

    <li><h6>Ноутбуки</h6></li>
    <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="2" cy="2" r="2" fill="currentColor"/>
    </svg>

    <li><h6>Apple</h6></li>
  </ul>
</nav>
