@if (authStateService.isPageLoading()) {
  <p-progressSpinner
    *ngIf="authStateService.isPageLoading()"
    styleClass="w-4rem h-4rem"
    strokeWidth="4"
    class="page-loader"
  >
  </p-progressSpinner>

} @else {
  <p>create-product works!</p>

  <div class="card flex justify-center">
    <p-tree-select
      class="md:w-80 w-full"
      containerStyleClass="w-full"
      [(ngModel)]="selectedNodes"
      [options]="nodes"
      placeholder="Выберите категорию"
      [filter]="true"
      [filterInputAutoFocus]="true"
    />
  </div>

}
