<div class="product-form">
  <h4>Новое объявление</h4>
  <form
    class="product-form_area"
    [formGroup]="productForm"
    (ngSubmit)="productFormSubmit()"
  >
    <div class="card flex justify-center">
      <h6>Выберите категорию <span>*</span></h6>
      <p-tree-select
        class="md:w-80 w-full"
        containerStyleClass="w-full"
        [options]="nodes"
        placeholder="Нажмите, чтобы выбрать"
        [filter]="true"
        [formControl]="categoryControl"
      />
    </div>

    <div>
      <h6>Название объявления <span>*</span></h6>
      <input
        formControlName="name"
        aria-label="Название объявления"
        placeholder="Что хотите продать?"
      >
    </div>

    <div>
      <h6>Описание</h6>
      <textarea
        formControlName="description"
        placeholder="Расскажите подробнее о товаре или услуге"
      ></textarea>
    </div>

    <div>
      <h6>Адрес (место проведения сделки) <span>*</span></h6>
      <input
        type="text"
        [(ngModel)]="addressQuery"
        (input)="onAddressInput()"
        placeholder="Введите адрес"
        [ngModelOptions]="{standalone: true}"
      >

      <div *ngIf="addressSuggestions.length" class="product-form_suggestions-container">
        <div
          *ngFor="let suggestion of addressSuggestions"
          (click)="selectAddress(suggestion)"
          class="product-form_suggestion-item"
        >
          {{ suggestion.value }}
        </div>
      </div>
    </div>

    <div>
      <h6>Номер телефона <span>*</span></h6>
      <input
        formControlName="phone"
        aria-label="Номер телефона"
        type="tel"
        placeholder="Телефонный номер"
        mask=' (000) 000 - 00 - 00'
        [showMaskTyped]="true"
        [prefix]='"+7"'
        [dropSpecialCharacters]="false"
      >
    </div>
    <div>
      <h6>Адрес электронной почты</h6>
      <input
        formControlName="email"
      >
    </div>



    <div>
      <p-fileupload
        chooseLabel="Выбрать картинки"
        uploadLabel="Загрузить"
        cancelLabel="Отмена"
        [multiple]="true"
        accept="image/*"
        maxFileSize="1000000"
        mode="advanced">
        <ng-template #empty>
          <div style="font: var(--ph); color: var(--dark-blue-color)">
            Максимум 10 картинок в формате jpeg, png или heic
          </div>
        </ng-template>
      </p-fileupload>
    </div>

    <div>
      <h6>Цена</h6>
      <input
        formControlName="cost"
        mask="separator"
        [suffix]="' ₽'"
        placeholder="0 ₽"
        [dropSpecialCharacters]="true"
      >
    </div>

    <app-button
      label="Разместить объявление"
      customClass="p-button_product-form"
    ></app-button>
  </form>
  <div style="width: 306px; font: var(--ph)">
    Нажимая кнопку «Разместить объявление» Вы соглашаетесь с <a style="color: var(--primary-color); cursor: pointer">правилами
    площадки</a>
  </div>

</div>



