<!--@if (false) {-->
<!--  <p-progressSpinner-->
<!--    *ngIf="authStateService.isPageLoading()"-->
<!--    styleClass="w-4rem h-4rem"-->
<!--    strokeWidth="4"-->
<!--    class="page-loader"-->
<!--  >-->
<!--  </p-progressSpinner>-->

<!--} @else {-->
<div class="product-form">
  <h4>Новое объявление</h4>
  <form class="product-form-area">
    <div>
      <h6>Адрес (место проведения сделки) <span>*</span></h6>
      <input
        type="text"
        [(ngModel)]="addressQuery"
        (input)="onAddressInput()"
        placeholder="Введите адрес"
        [ngModelOptions]="{standalone: true}"
      >

      <!-- Список подсказок -->
      <div *ngIf="addressSuggestions.length" class="suggestions-container">
        <div
          *ngFor="let suggestion of addressSuggestions"
          (click)="selectAddress(suggestion)"
          class="suggestion-item"
        >
          {{ suggestion.value }}
        </div>
      </div>
    </div>
    <div class="card flex justify-center">
      <h6>Выберите категорию <span>*</span></h6>
      <p-tree-select
        class="md:w-80 w-full"
        containerStyleClass="w-full"
        [(ngModel)]="selectedNodes"
        [options]="nodes"
        placeholder="Нажмите, чтобы выбрать"
        [filter]="true"
      />
    </div>

    <div>
      <h6>Название объявления <span>*</span></h6>
      <input
        aria-label="Название объявления"
        placeholder="Что хотите продать?"
      >
    </div>

    <div>
      <h6>Описание</h6>
      <textarea
        placeholder="Расскажите подробнее о товаре или услуге"
      ></textarea>
    </div>

    <div>
      <h6>Адрес (место проведения сделки) <span>*</span></h6>
    </div>

    <div>
      <p-fileupload
        chooseLabel="Выбрать картинки"
        uploadLabel="Загрузить"
        cancelLabel="Отмена"
        name="demo[]"
        url="https://www.primefaces.org/cdn/api/upload.php"
        (onUpload)="onUpload($event)"
        [multiple]="true"
        accept="image/*"
        maxFileSize="1000000"
        mode="advanced">
        <ng-template #empty>
          <div style="font: var(--ph); color: var(--dark-blue-color)">Максимум 10 картинок в формате jpeg, png или heic
          </div>
        </ng-template>
        <ng-template #content>
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
          </ul>
        </ng-template>
      </p-fileupload>
    </div>

    <div>
      <h6>Цена</h6>
      <input
        placeholder="0 ₽"
      >
    </div>

    <app-button
      label="Разместить объявление"
      customClass="p-button_product-form"
      type="submit"
    ></app-button>
  </form>
  <div style="width: 306px; font: var(--ph)">
    Нажимая кнопку «Разместить объявление» Вы соглашаетесь с <a style="color: var(--primary-color); cursor: pointer">правилами
    площадки</a>
  </div>

</div>



