<app-loading-modal></app-loading-modal>
<div class="product-form">
  <h4>{{ isEditMode ? 'Редактирование объявления' : 'Новое объявление' }}</h4>
  <form
    class="product-form_area"
    [formGroup]="productForm"
    (ngSubmit)="productFormSubmit()"
  >
    @if (!isEditMode) {
      <div class="card flex justify-center">
        <h6>Выберите категорию <span>*</span></h6>
        <p-tree-select
          class="md:w-80 w-full"
          containerStyleClass="w-full"
          [options]="nodes"
          placeholder="Нажмите, чтобы выбрать"
          [filter]="true"
          [formControl]="categoryControl"
        />
        @if (isLoadingCategories) {
          <div class="loading-spinner">
            <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
            <span>Загрузка категорий...</span>
          </div>
        }
        @if (categoryId?.invalid && categoryId?.touched) {
          <p-message
            severity="error"
            variant="simple"
            size="small"
            class="register-form_p-message"
          >
            Выберите категорию
          </p-message>
        }
      </div>
    }
    <div>
      <h6>Название объявления <span>*</span></h6>
      <input
        formControlName="name"
        aria-label="Название объявления"
        placeholder="Что хотите продать?"
      >
      @if (name?.invalid && name?.touched) {
        <p-message
          severity="error"
          variant="simple"
          size="small"
          class="register-form_p-message"
        >
          Укажите название объявления
        </p-message>
      }
    </div>

    <div>
      <h6>Описание</h6>
      <textarea
        formControlName="description"
        placeholder="Расскажите подробнее о товаре или услуге"
      ></textarea>
      @if (description?.invalid && description?.touched) {
        <p-message
          severity="error"
          variant="simple"
          size="small"
          class="register-form_p-message"
        >
          Максимальная длина: 250 символов
        </p-message>
      }
    </div>

    <div>
      <h6>Адрес (место проведения сделки) <span>*</span></h6>
      <input
        type="text"
        [(ngModel)]="addressQuery"
        (input)="onAddressInput()"
        placeholder="Введите адрес"
        [ngModelOptions]="{standalone: true}"
      >
      @if (location?.invalid && location?.touched) {
        <p-message
          severity="error"
          variant="simple"
          size="small"
          class="register-form_p-message"
        >
          Укажите адрес
        </p-message>
      }

      <div *ngIf="addressSuggestions.length" class="product-form_suggestions-container">
        <div
          *ngFor="let suggestion of addressSuggestions"
          (click)="selectAddress(suggestion)"
          class="product-form_suggestion-item"
        >
          {{ suggestion.value }}
        </div>
      </div>
    </div>

    <div>
      <h6>Номер телефона <span>*</span></h6>
      <input
        formControlName="phone"
        aria-label="Номер телефона"
        type="tel"
        placeholder="Телефонный номер"
        mask=' (999) 999 - 99 - 99'
        [showMaskTyped]="true"
        [prefix]='"+7"'
        [dropSpecialCharacters]="false"
      >
      @if (phone?.invalid && phone?.touched) {
        <p-message
          severity="error"
          variant="simple"
          size="small"
          class="register-form_p-message"
        >
          Заполните телефонный номер
        </p-message>
      }
    </div>
    <div>
      <h6>Адрес электронной почты</h6>
      <input
        formControlName="email"
      >
    </div>

      <div>
        <p-fileupload
          chooseLabel="Выбрать картинки"
          uploadLabel="Загрузить"
          cancelLabel="Отмена"
          [multiple]="true"
          accept="image/*"
          maxFileSize="2000000"
          mode="advanced"
          [auto]="false"
          [showUploadButton]="false"
          (onSelect)="onFileSelect($event)"
          (onClear)="onFileClear()"
          (onRemove)="onFileRemove($event)"
        >
          <ng-template #empty>
            <div style="font: var(--ph); color: var(--dark-blue-color)">
              Максимум 10 картинок в формате jpeg, png или heic
            </div>
          </ng-template>
          <ng-template #content>
            <ul *ngIf="selectedFiles.length">
              <li *ngFor="let file of selectedFiles">{{ file.name }} - {{ file.size }} байтов</li>
            </ul>
          </ng-template>
        </p-fileupload>
      </div>


    <div>
      <h6>Цена <span>*</span></h6>
      <input
        formControlName="cost"
        mask="separator"
        [suffix]="' ₽'"
        placeholder="0 ₽"
        [dropSpecialCharacters]="true"
      >
      @if (cost?.invalid && cost?.touched) {
        <p-message
          severity="error"
          variant="simple"
          size="small"
          class="register-form_p-message"
        >
          Укажите цену
        </p-message>
      }
    </div>
    <app-button
      [label]="isEditMode ? 'Сохранить изменения' : 'Разместить объявление'"
      customClass="p-button_product-form"
    ></app-button>
  </form>
  <div style="width: 306px; font: var(--ph)">
    Нажимая кнопку «{{ isEditMode ? 'Сохранить изменения' : 'Разместить объявление' }}» Вы соглашаетесь с <a
    style="color: var(--primary-color); cursor: pointer">правилами
    площадки</a>
  </div>

</div>



