<div class="user-settings">
  <div>
    <h4>Настройки</h4>
    <form
      class="user-info-form mt24"
      [formGroup]="userSettingsForm"
      (ngSubmit)="changeProfile()"
    >
      <div class="user-info-form_username-and-phone mb16">
        <label>
          <h6>Имя</h6>
          <input
            placeholder="Имя"
            type="text"
            formControlName="name"
          >
        </label>
        <label>
          <h6>Номер телефона</h6>
          <input
            placeholder="Телефон"
            type="tel"
            formControlName="login"
            mask=' (000) 000 - 00 - 00'
            [showMaskTyped]="true"
            [prefix]='"+7"'
            [dropSpecialCharacters]="false"

          >
        </label>
      </div>
      <label>
        <h6 class="mt16">Новый пароль <span>(минимум 8 символов)</span></h6>
        <input
          formControlName="password"
          placeholder="Введите новый пароль"
        >
      </label>
<!--      <label>-->
<!--        <h6 class="mt16">Повторите новый пароль</h6>-->
<!--        <input-->
<!--          placeholder="Введите новый пароль"-->
<!--        >-->
<!--      </label>-->
      <div class="user-info-form_save-button mt24">
        <app-button
          label="Сохранить"
          customClass="p-button_user-settings-save"
        ></app-button>
      </div>
    </form>
  </div>
</div>
