:root {
  .login-modal {
    .p-dialog {
      max-width: 418px;

      .p-checkbox-box {
        width: 16px;
        height: 16px;
      }

      .p-checkbox-box-input {
        font-size: 10px;
      }

      &-title {
        font-family: 'Roboto-SemiBold', sans-serif;
        font-size: 24px;
        color: var(--dark-blue-color);
      }

      &-close-button {
        color: var(--dark-blue-color);
      }

      &-header {
        padding: 24px;
      }

      &-content {
        padding: 0 24px;
      }
    }
  }
}
