<p-dialog
  header="Регистрация"
  (onHide)="onHide()"
  [(visible)]="visible"
  [modal]="true"
  [draggable]="false"
  class="login-modal"
>
  <form
    [formGroup]="form"
    class="register-form auth-font"
  >
    <input
      formControlName="login"
      type="tel"
      placeholder="Телефонный номер"
    >
    @if (form.get('login')?.touched) {
      @if (form.get('login')?.hasError('required')) {
        <p-message
          severity="error"
          variant="simple"
          size="small"
        >
          Введите номер телефона
        </p-message>
      }
      @if (form.get('login')?.hasError?.('minlength')) {
        <p-message
          severity="error"
          variant="simple"
          size="small"
        >
          Введите корректный номер телефона: +7 (9**)-***-**-**
        </p-message>
      }
    }



    <input
      formControlName="name"
      placeholder="Имя"
      type="text"
      class="mt16"
    >




    <input
      formControlName="password"
      placeholder="Пароль"
      type="text"
      class="mt16"
    >
    <app-button
      label="Зарегистрироваться"
      customClass="p-button_login"
      type="submit"
      (click)="register()"
      [disabled]="form.invalid"
      [loading]="isLoading()"
    >
    </app-button>
  </form>
</p-dialog>
