:host ::ng-deep p-dialog {

}

.register-form {
  width: 350px;


  input {
    padding: 12px;
    height: 48px;
    width: 100%;
    border: 1px solid var(--light-grey-color);
    border-radius: 4px;
  }

}
