:host ::ng-deep p-galleria {
  .main-image-carousel {
    width: 856px;
    height: 512px;
    border-radius: 4px;
    object-fit: contain;
  }
  .mini-images-carousel {
    width: 856px;
    &_item {
      height: 85px;
      object-fit: contain;
    }
  }

}
