:host ::ng-deep  {
  i {
    margin-top: 8px;
  }
}

.auth-form {
  &_auth-input {
    padding: 12px;
    height: 48px;
    width: 350px;
    border: 1px solid var(--light-grey-color);
    border-radius: 4px;
    &:focus {
      outline: none;
      border-color: #007bff;
      &::placeholder {
        color: #999;
        opacity: 1;
      }
    }

  }
  &_password-menu {
    display: flex;
    justify-content: space-between;
    &_forgot {
      color: var(--primary-color);
      &:hover {
        cursor: pointer;
        color: var(--red-color);
        transition: 0.3s;
      }
    }
  }
  &_field-checkbox {
    display: flex;
    align-items: center;
    gap: 4px;
    &_label {
      cursor: pointer;
    }
  }
}
.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;


  .password-input {
    width: 100%;
    padding-right: 40px;
  }

  .password-toggle {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
    font-size: 1.1rem;
    transition: color 0.2s ease;

    &:hover {
      color: #495057;
    }
  }

}
