<p-dialog
  (onHide)="onHide()"
  header="Авторизация"
  [visible]="visible()"
  (visibleChange)="onHide()"
  [modal]="true"
  [draggable]="false"
  class="login-modal"
>
  <form
    [formGroup]="authForm"
    (ngSubmit)="onSubmit()"
    class="auth-form auth-font"
  >
    <input
      formControlName="login"
      class="auth-form_auth-input"
      type="tel"
      placeholder="Телефонный номер"
      mask=' (000) 000 - 00 - 00'
      [showMaskTyped]="true"
      [prefix]='"+7"'
      [dropSpecialCharacters]="false"
    >
<!--    <input-->
<!--      formControlName="password"-->
<!--      class="auth-form_auth-input mt16"-->
<!--      type="password"-->
<!--      placeholder="Пароль"-->
<!--    >-->
    <div class="password-input-wrapper">
      <input
        formControlName="password"
        placeholder="Пароль"
        [type]="showPassword() ? 'text' : 'password'"
        class="mt16 auth-form_auth-input"
      />
      <i
        [class]="showPassword() ? 'pi pi-eye-slash password-toggle' : 'pi pi-eye password-toggle'"
        (click)="togglePasswordVisibility()"
      ></i>
    </div>
    <div class="auth-form_password-menu mt8">
      <div class="auth-form_field-checkbox">
        <p-checkbox
          [binary]="true"
          [(ngModel)]="rememberMe"
          [ngModelOptions]="{standalone: true}"
          inputId="remember"
          name="remember"
        ></p-checkbox>
        <label for="remember" class="auth-form_field-checkbox_label">Запомнить меня</label>
      </div>
      <span class="auth-form_password-menu_forgot">Забыли пароль?</span>
    </div>
    <app-button
      label="Войти"
      customClass="p-button_login"
    >
    </app-button>

  </form>
</p-dialog>

