.product {
  display: flex;
  flex-direction: column;
  width: 306px;
  height: 360px;
  &__img {
    height: 240px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
  }
  &__name {
    font-family: 'Roboto-SemiBold', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--primary-color);
    cursor: pointer;

    &:hover {
      color: #cf3434;
    }
  }
  &__price {
    font-family: 'Roboto-SemiBold', sans-serif;
    font-size: 18px;
    color: var(--dark-blue-color);
  }
  &__address {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: var(--grey-color);
  }
  &__date {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: var(--grey-color);
  }
}

