.home-label {
  font-family: 'Roboto-SemiBold', sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: var(--dark-blue-color);
}
.home-container {
  height: 1550px;
}
.all-posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}
