<div class="product">
  @if (product.imagesIds && product.imagesIds.length > 0) {
    <img class="product__img" [src]="'http://dzitskiy.ru:5000/Images/' + product.imagesIds[0]" alt="image">
  } @else {
    <img class="product__img" src="/assets/images/placeholder-image.webp" alt="image">
  }
  <h3 class="product__name mt8">{{ product.name }}</h3>
  <h3 class="product__price">{{product.cost | price}}</h3>
  <p class="product__address">{{ product.location }}</p>
  <p class="product__date">{{ product.createdAt | relativeTime}} </p>
</div>
