<app-loading-modal></app-loading-modal>
<div class="mb100">
  <div class="all-products_header">
  <h4 class="all-products mb24">
    @if (searchService.searchQuery() && searchService.selectedCategory()) {
      Поиск "{{ searchService.searchQuery() }}" в категории "{{ searchService.selectedCategory()?.name }}"
    } @else if (searchService.searchQuery()) {
      Результаты поиска: "{{ searchService.searchQuery() }}"
    } @else if (searchService.selectedCategory()) {
      Категория: "{{ searchService.selectedCategory()?.name }}"
    } @else {
      Рекомендации для вас
    }
  </h4>
  @if (searchService.selectedCategory()) {
    <div class="close-category-filter">
      <app-button
        (click)="clearSearch()"
        label="Очистить фильтры"
        icon="pi pi-times"
      />
    </div>
  }
  </div>
  <div class="all-products_wrapper">
    @if (filteredProducts().length > 0) {
      <div
        *ngFor="let product of filteredProducts()"
      >
        <app-product-mini-card
          [product]="product"
          [routerLink]="['current-product/' + product.id]"
        ></app-product-mini-card>
      </div>
    } @else if (searchService.searchQuery() && products().length > 0) {
      <div class="no-results">
        <p>По вашему запросу ничего не найдено</p>
      </div>
    } @else if (products().length === 0) {
      <div class="loading-message">
        <p>Загружаем объявления...</p>
      </div>
    }
  </div>
</div>


